
article {
	display: flex;
	flex-direction: column;
	@include double {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}

article a {
	text-decoration: none;
	color: $body-color;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	height: (100vw * $post-ratio);
	@include double {
		width: (100% / 2);
		height: ((100vw / 2) * $post-ratio);
	}
	@include tablet {
		width: (100% / 3);
		height: ((100vw / 3) * $post-ratio);
	}
	@include desktop {
		width: (100% / 4);
		height: ((100vw / 4) * $post-ratio);
	}
}

.overlay {
	background-color: rgba(0,0,0,0.7);
	padding-left: 8px;
	padding-right: 8px;
}

.overlay p {
	display: none;
}

.overlay .toggle-height {
	display: block;
}

.byline {
	font-size: .75rem;
}

h2 {
	font-weight: 300;
	font-size: 1.2rem;
}
