$double-width: 400px;
$tablet-width: 600px;
$desktop-width: 1000px;

@mixin double {
  @media (min-width: $double-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}